p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
#navbarDefault{
    position: absolute;
    width:80%;
    background: RGBA(0,0,0,0.7);
    z-index:2;
    background-color: rgba(0, 0, 0, 0.747);
    margin-top: 2%;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbarHeader{
    margin-left: 5%;
}
#carouselDiv{
    width: 100%;
    margin-bottom: 2px;
}
.boxes{
    margin-top: 1%;
}
.cell{
    width: 105%; 
    height: 400px; 
    border: 1px solid white; 
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
#navbarContainer{
    width: 80% !important;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: rgba(0, 0, 0, 0.747);
  color: white;
  width: 45px !important;
}
.fa-twitter {
    background: rgba(0, 0, 0, 0.747);
    color: white;
    width: 45px !important;
  }
.fa-instagram {
    background: rgba(0, 0, 0, 0.747);
    color: white;
    width: 45px !important;
  }
.longBanner{
    margin-top: 4px;
    margin-bottom: 4px;
    position:relative;
	width:100%;
	height:300px;
    background:url('img/longBanner.png') repeat-x top center;
    color: white;
}

 .longBanner > div:nth-child(1) {
    position:relative;
    width:100%;
    height:300px;
} .longBanner > div:nth-child(1) > div:nth-child(1) {
    position:relative;
    width:1200px;
    height:300px;
    margin:auto;
    
} .longBanner .txt.a {
    display:block;
    padding:60px 0 0 0;
    font-size:40px;
    letter-spacing:-2px;
    color:#FFF;
    
} .longBanner .txt.a img {
    margin:-7px 10px 0 0;
    vertical-align:middle;
    
} .longBanner .txt.b {
    display:block;
    width:48%;
    padding:14px 0 0 0;
    font-size:15px;
    line-height:1.5em;
    color:rgba(255,255,255,0.75);
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
  }
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
  }
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
    
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    padding: 15% 0 10px 0;
    text-align: left;
    
  }
  
  .hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px,0,0);
    transform: translate3d(-20px,0,0);
    
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
  }
  
  .hovereffect:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    
  }
  
  .hovereffect:hover .overlay:before,
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }